#header{
border: 5px solid green;

}
h1 {
list-style-type: none;
display: flex;
flex-direction:row;
justify-content: center;
gap: 40px;
font-size: 20px ;
font-family:monospace;
}


p{
    display: flex;
    justify-content: center;
    color: rgb(20, 41, 34);
    font-family:monospace;
}