#header{
    border: 5px solid rgb(41, 144, 41);
}
#header p {
text-align: center;

}

h1 {
list-style-type: none;
display: flex;
flex-direction:row;
justify-content: center;
gap: 40px;
font-size: 20px ;
font-family:monospace;
}

#about-me-box p{
color: green;
}

img {
margin-right:auto;
width:200px ;
}

